//- Прелодер
mixin preloader
  section
    .preloader
      .preloader__loader
        .box1
        .box2
        .box3

//-  Миксин для пунктов меню
mixin listmenu(href, name)
  div(class="src-block col-2")
    a(href= href class="src")= name

//-  Миксин для пунктов меню-бургера
mixin listmobile-menu(href, name)
  li(class="mobile-menu__item")
    a(href= href class="mobile-menu__link")= name

//- Миксин для модального окна
mixin modalBox(h2, p1, p2= '')
  .modal#modal
    .modal-content
      .modal-header
        h2= h2
        span(class="close") &times;
      .modal-body
        p= p1
        p= p2

//- Миксин для названия страницы
mixin pageName(h1)
  section(class="pagename-section")
    .container
      .row
        .col-12
          h1(id="pagename")= h1

//- Миксини для вывод контактной информации (Контакты)
mixin contactList(title, ...items)
  .block-info
    h3= title
    each item in items
      p= item


//- Миксин для добавления развлечения в слайдер (О нас)
mixin addOption(path, icon, main, sub)
  .option(style= path)
    .shadow
    .label
      .icon
        img(src= icon)
      .info
        .main= main
        .sub= sub

//- Миксин для нумерации схемы сайта (О нас)
mixin addNumberItem(num, title)
  .number-item.col-6.col-lg-3
    .num(class="num-" + num)= num
    p= title

//- Миксин для табов (Услуги и цены)
mixin addTab(number, img, name)
  li
    label(for="tab" + number role="button")
      img(class="filter-red" src=img) 
      br
      span= name
